.content {
    display: flex;
    width: 100%;
    min-height: 85vh;
    padding: 50px 12%;
    background-color: var(--color-w);
}
.content-body {
    width: 60%;
    margin: 10px;
}
.content-sidebar {
    width: 40%;
    margin: 10px;
}
.content-body p {
    margin: 0px;
    padding: 20px 20px 10px;
    text-align: justify;
    font-size: 18px;
    color: var(--color-b);
}
.content-sidebar h2 {
    margin: 10px;
    font-size: 32px;
    color: var(--color-b);
}
.content-sidebar ul {
    font-size: 20px;
}


@media only screen and (max-width: 1280px) {
    .content {
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 1200px) {
    .content {
        padding-left: 8%;
        padding-right: 8%;
    }
}
@media only screen and (max-width: 992px) {
    .content {
        flex-direction: column;
    }
    .content-body, .content-sidebar {
        width: 100%;
    }
}